.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40vmin;
  pointer-events: none;
  margin-top: -60px;
}

.ui.form {
  width: 400px;
}

.ui.grip {
  width: 90%;
}

#leaderBoard {
  width: 80%;
}

#pk {
  margin-top: -1em;
}

#table {
  width: 22em;
  background: transparent none;
  color: white;
  text-align: inherit;
  /* background-image: rgba(255, 255, 255, 1);  */
}

.ui.table thead th {
  border-color: #FFD700;
}

.ui.table tr td {
  border-color: #FFD700;
}

.ui.table thead tr:first-child> .table-header {
  background: transparent none;
  color: white;
}

#signin {
  margin-left: 20%;
  margin-right: 27%;
  margin-bottom: 2em;
}

#battle-container {
  width: 95%;
}

#battle-grid {
  width: 100%;
  margin: 0;
  align-content: stretch;
}

#pick-pokes {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5em;
  margin-bottom: 5%;
  /* flex-grow: 2; */
  /* align-content: center; */
  /* background: white; */
}

#margin-boi {
  margin-bottom: 2em;
}

#sign-in-form {
  /* width: 100vw;
  display: flex
  justify-content: center; */
}

.poke-select-card {
  max-height: 11em;
  min-height: 11em;
}

.pick-poke-card {
  height: 100%;
  overflow: hidden;
}
.pick-poke-card img{
  height: inherit;
  max-height: 90%;

}

#pokeball {

}

#pick-pokes .row {
  height: 12.5em;
}

#player-1-card {
  width: 70%;
  max-height: 25em;
  min-height: 25em;

}

#player-2-card {
  width: 70%;
  max-height: 25em;
  min-height: 25em;
}

#battle-buddies-1 {
  display: flex;
  justify-content: space-evenly;
}
#battle-buddies-2 {
  display: flex;
  justify-content: space-evenly;
}

.row .column {
  width: 11em;
}

.poke-select-content {
  display: flex;
  justify-content: center;
  /* overflow: scroll; */
}

.poke-select-headers {
  font-size: 1.5vw;
  color: black;
}

.select-details {
  font-size: large;
  font-weight: bolder;
}

#pick-pokes h1 {
  color: black;
  margin-bottom: 1em;
}

#catch {
  margin: 1.5em;
  margin-top: 3.5em;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  background: transparent none;
  font-weight: 300;
  display: inline-block;
  margin: 0 .25em 0 0;
  border-radius: .3em;
}

.rematch {
  color: #FFD700;
  border-color: #FFD700;
      margin-top: 200%;
}

#rematch-btn{
  background: transparent none;
  font-weight: 300;
  display: inline-block;
  margin: 0 .25em 0 0;
  border-radius: .3em;
  color: #FFD700;
  border-color: #FFD700;
  margin-top: 100%;
}

.rematch:hover {
  color: #1b03a3;
  background: #FFD700;
}

.water {
  color: #6987F3;
  text-shadow: 1px 1px #000;
  border-color: #6987F3;
}

.water:hover {
  color: #fff;
  background: #6987F3;
}

.normal {
  color: #A5AB76;
  text-shadow: 1px 1px #000;
  border-color: #A5AB76;
}

.normal:hover {
  color: #fff;
  background: #A5AB76;
}

.grass {
  color: #48D251;
  text-shadow: 1px 1px #000;
  border-color: #48D251;
}

.grass:hover {
  color: #fff;
  background: #48D251;
}

.poison {
  color: #B1149F;
  text-shadow: 1px 1px #000;
  border-color: #B1149F;
}

.poison:hover {
  color: #fff;
  background: #B1149F;
}

.dark {
  color: #745746;
  text-shadow: 1px 1px #000;
  border-color: #745746;
}

.dark:hover {
  color: #fff;
  background: #745746;
}

.fire {
  color: #FF7800;
  text-shadow: 1px 1px #000;
  border-color: #FF7800;
}

.fire:hover {
  color: #fff;
  background: #FF7800;
}

.fighting {
  color: #D20000;
  text-shadow: 1px 1px #000;
  border-color: #D20000;
}

.fighting:hover {
  color: #fff;
  background: #D20000;
}

.flying {
  color: #B482F2;
  text-shadow: 1px 1px #000;
  border-color: #B482F2;
}

.flying:hover {
  color: #fff;
  background: #B482F2;
}

.electric {
  color: #FCD400;
  text-shadow: 1px 1px #000;
  border-color: #FCD400;
}

.electric:hover {
  color: #fff;
  background: #FCD400;
}

.ground {
  color: #E4C260;
  text-shadow: 1px 1px #000;
  border-color: #E4C260;
}

.ground:hover {
  color: #fff;
  background: #E4C260;
}

.psychic {
  color: #FF3180;
  text-shadow: 1px 1px #000;
  border-color: #FF3180;
}

.psychic:hover {
  color: #fff;
  background: #FF3180;
}

.rock {
  color: #BAA32B;
  text-shadow: 1px 1px #000;
  border-color: #BAA32B;
}

.rock:hover {
  color: #fff;
  background: #BAA32B;
}

.ice {
  color: #83DBDA;
  text-shadow: 1px 1px #000;
  border-color: #83DBDA;
}

.ice:hover {
  color: #fff;
  background: #83DBDA;
}

.bug {
  color: #9EBF0A;
  text-shadow: 1px 1px #000;
  border-color: #9EBF0A;
}

.bug:hover {
  color: #fff;
  background: #9EBF0A;
}

.dragon {
  color: #8800FB;
  text-shadow: 1px 1px #000;
  border-color: #8800FB;
}

.dragon:hover {
  color: #fff;
  background: #8800FB;
}

.ghost {
  color: #794E99;
  text-shadow: 1px 1px #000;
  border-color: #794E99;
}

.ghost:hover {
  color: #fff;
  background: #794E99;
}

.steel {
  color: #B9B6D1;
  text-shadow: 1px 1px #000;
  border-color: #B9B6D1;
}

.steel:hover {
  color: #fff;
  background: #B9B6D1;
}

.fairy {
  color: #FE8FA8;
  text-shadow: 1px 1px #000;
  border-color: #FE8FA8;
}

.fairy:hover {
  color: #fff;
  background: #FE8FA8;
}

.ui.divided.grid:not([class*="vertically divided"])>.row>.column {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.ui.table {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #FFD700;
}
